<mat-card class="entities-card">
  <div class="grid-card">
    <div>
      <h2>Entidades à iniciar</h2>
      <p>Após o início, os eventos serão disponibilizados para execução nos dias que estão definidos em seus ciclos.</p>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Entidades</mat-label>
        <button mat-icon-button matPrefix>
          <mat-icon>play_arrow</mat-icon>
        </button>
        <input matInput type="number" [(ngModel)]="quantidadeEntidades" />
        <mat-hint>Novos eventos para hoje: <strong>35 eventos</strong></mat-hint>
      </mat-form-field>
    </div>
  </div>
</mat-card>
