<div class="modal-header">
  <h2>Iniciar novas entidades</h2>
  <button mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="modal-content">
  <meet-entity-input />
  <mat-divider />
  <meet-panel-cycles> 
    <meet-table-cycles />
  </meet-panel-cycles>
  <mat-divider />

  <section id="future-events-container">
    <h4>Previsão de eventos futuros</h4>
    <p>
      A previsão inclui eventos dos ciclos relacionados às entidades e é
      atualizada sempre que novas entidades forem iniciadas.
    </p>
    <meet-events-chart />
  </section>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button>Fechar</button>
  <button mat-flat-button>Iniciar novas entidades</button>
</mat-dialog-actions>
